<div class="row clear-margin">
  <div class="col l12 m12 s12 center-align">
    <h1 class="clear-margin title-text">Angular 2 Todo Application</h1>
  </div>
  <div class="col s12">
        <div class="spaced spaced-bottom">
          <!-- <a routerLink="" class="btn">Home</a> -->
          <a routerLink="/users" class="btn">User's</a>
          <a routerLink="/posts" class="btn">Post</a>
          <a routerLink="/comments" class="btn">Comments</a>
        </div>
  </div>
</div>

<router-outlet></router-outlet>
